:root {
    --Roxo: #72577C;
    --Roxo-transparencia: #72577cc2;
    --Roxo-Cinzento: #8E8CA3;
    --Azul-marinho-Acinzentado: #A9C2C9;
    --Gelo: #E4E4E4;
    --Branco: #FFFFFF;
    --Vermelho: #ff0000;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    min-height: 100vh;
    margin: 20px;
    width: 40%;
}


/* Caixa principal */
.formulario {
    box-sizing: border-box;
    border-radius: 5px;
}


/* Campos de entrada */
input {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 15px;
    background-color: var(--Roxo-transparencia);
    color: var(--Branco);
    border: none;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    font-size: 14px;
}

input:hover,
input:focus {
    background-color: var(--Roxo);
}
/* 
input::checkmark {
    border: 1px solid var(--Roxo);
} */


/* Alinhamento dos botoes */
.botoes {
    display: flex;
    text-align: center;
    width: 200px;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}


/* Botao Cancelar */
.btn-cancelar {
    flex: 1;
    padding: 8px 0;
    background-color: transparent;
    color: var(--Branco);
    border: 1px solid var(--Azul-marinho-Acinzentado);
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
}

.btn-cancelar:hover {
    border: 1px solid var(--Vermelho);
    box-shadow: 3px 3px 5px #3533338a;
    transition: all 0.2s ease-in-out;
}



/* Botao Entrar */
.btn-entrar {
    flex: 1;
    padding: 8px 0;
    background-color: var(--Azul-marinho-Acinzentado);
    color: var(--Branco);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
}

.btn-entrar:hover {
    box-shadow: 3px 3px 5px #3533338a;
    transition: all 0.2s ease-in-out;
}


/*  */