:root {
    --Roxo: #72577C;
    --Roxo-Cinzento: #8E8CA3;
    --Azul-marinho-Acinzentado: #A9C2C9;
    --Azul-marinho-escuro: #90b2b8;
    --Gelo: #E4E4E4;
    --Branco: #FFFFFF;
    --Trasnparencia: #0707077c;
}

/* Cabeçalho */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 15px;
    padding-top: 5px;
}

header img {
    height: 40px;
    width: 40px;
}

nav a{
    text-decoration: none;
}

nav ul{
    list-style: none;
}


/* Grade de botões */

.grid-servicos {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 15vh);
    /* 3 colunas */
    gap: 10px;
    max-width: 100px;
    margin: auto;
}

.botao-profissao {
    background-color: var(--Roxo-Cinzento);
    border: none;
    border-radius: 5px;
    height: 130px;
    width: 130px;
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 3px 4px 3px var(--Trasnparencia);
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-profissao:hover {
    border: 2px dashed var(--Branco);
    transition: all 0.2s;
}

img {
    height: 90px;
}


/* barra de pesquisa */
.busca {
    text-align: center;
    margin: 20px 0 50px;
}

.busca input {
    width: 400px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: var(--Azul-marinho-Acinzentado);
    color: var(--Branco);
}

.busca input::placeholder {
    color: var(--Branco);
}

.busca input:hover{
    background-color: var(--Azul-marinho-escuro);
    transition: all 0.2s;
}

.busca input:focus {
    background-color: var(--Azul-marinho-escuro);
}