:root {
    --Roxo: #72577C;
    --Roxo-Cinzento: #8E8CA3;
    --Azul-marinho-Acinzentado: #A9C2C9;
    --Gelo: #E4E4E4;
    --branco: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Gelo);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--Roxo);
    height: 70px;
    width: 100%;
}